################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Appointment
/Appointment/.vs
/Appointment/bin/Debug
/Appointment/obj/Debug
/packages
